# Q1: Import numpy library

In [1]:
# write your code here ^_^
import numpy as np

# Q2: Generate a sequence of 15 floats using linspace() function

In [22]:
# write your code here ^_^
temp=np.linspace(0,55,15)
print(temp)
print('\nthe size is :',temp.size)

[ 0.          3.92857143  7.85714286 11.78571429 15.71428571 19.64285714
 23.57142857 27.5        31.42857143 35.35714286 39.28571429 43.21428571
 47.14285714 51.07142857 55.        ]

the size is : 15

# Q3: Create a 3-D array in shape (2, 2, 3) containing the four arrays given below 
Note : the array's name is up to you.

|      |       |          |         |
|------| ----- | -------- | ------- |
|arr1 | 1.1    | 2.1       | 3.1        |
|arr2 | 4.1    | 5.1       | 6.1        |
|arr3 | 7.1    | 8.1       | 9.1        |
|arr4 | 10.1   | 11.1      | 12.1       |

In [49]:
r1=np.array([1.1,2.1,3.1])
r2=np.array([4.1,5.1,6.1])
r3=np.array([7.1,8.1,9.1])
r4=np.array([10.1,11.1,12.1])

x= np.array([r1,r2,r3,r4])

In [52]:
x=x.reshape(2,2,3)

# Q4: Print the following:
Note: use the same array from Q3.
- Array's type.
- Array's elements datatype.
- Array's shape.
- Array's size.
- Array's dimention.

In [57]:
# write your code here ^_^
print("Array's type: ",type(x))
print("Array's elements datatype: ",x.dtype.name)
print("Array's shape: ",x.shape)
print("Array's size: ",x.size)
print("Array's dimention: ",x.ndim)

Array's type:  <class 'numpy.ndarray'>
Array's elements datatype:  float64
Array's shape:  (2, 2, 3)
Array's size:  12
Array's dimention:  3

# Q5:  Change the array dimention from 3-D to 4-D
Note: use the same array from Q3.
- Create a new array to hold the changes. 
- Print the new array's dimention and shape.

In [68]:
# write your code here ^_^
newArray = x.copy()
four_d=np.array([newArray,x])

<class 'numpy.ndarray'>

In [70]:
print("shape: ",four_d.shape)
print("dimention: ",four_d.ndim)

shape:  (2, 2, 2, 3)
dimention:  4

# Q6: Change the array's elements datatype to integer  
Note: use the same array from Q5.

- Create a new array to hold the changes. 
- Print the new array.

In [72]:
# write your code here ^_^
four_d=four_d.astype(int)
four_d.dtype

dtype('int32')

# Q7: Print all array's elements using for loop
Note: use the same array from Q6.

Hint: use nditer()

In [78]:
# write your code here ^_^
for element in np.nditer(four_d):
    print(element)

1
2
3
4
5
6
7
8
9
10
11
12
1
2
3
4
5
6
7
8
9
10
11
12

# Q8:  Print number 8 using array slicing
Note: use the same array from Q6.

In [81]:
four_d

array([[[[ 1,  2,  3],
         [ 4,  5,  6]],

        [[ 7,  8,  9],
         [10, 11, 12]]],


       [[[ 1,  2,  3],
         [ 4,  5,  6]],

        [[ 7,  8,  9],
         [10, 11, 12]]]])

In [83]:
# write your code here ^_^
print("Number 8 in first layer: ",four_d[0,1,0,1])
print("Number 8 in second layer: ",four_d[1,1,0,1])

Number 8 in first layer:  8
Number 8 in second layer:  8

# Q9: Print number 5 and number 6 using array slicing
Note: use the same array from Q6.

In [90]:
# write your code here ^_^
print('Number 5 in first layer-> ',four_d[0,0,1,1])
print('Number 5 in second layer-> ',four_d[1,0,1,1])
print()
print('Number 6 in first layer-> ',four_d[0,0,1,2])
print('Number 6 in second layer-> ',four_d[1,0,1,2])

Number 5 in first layer->  5
Number 5 in second layer->  5

Number 6 in first layer->  6
Number 6 in second layer->  6

In [93]:
four_d.ndim

4

# Q10: Search for number 8 using where()
Note: use the same array from Q6.

Note: where() is only used with small data.

*the output represents the path of the index that leads to number 8*

In [95]:
four_d

array([[[[ 1,  2,  3],
         [ 4,  5,  6]],

        [[ 7,  8,  9],
         [10, 11, 12]]],


       [[[ 1,  2,  3],
         [ 4,  5,  6]],

        [[ 7,  8,  9],
         [10, 11, 12]]]])

In [94]:
# write your code here ^_^
print(np.where(four_d==8))

(array([0, 1], dtype=int64), array([1, 1], dtype=int64), array([0, 0], dtype=int64), array([1, 1], dtype=int64))

# Q11: Reshape the array as the following

    array([[[ 1, 2],
            [ 3,  4],
            [ 5,  6]],

           [[ 7,  8],
            [ 9, 10],
            [11, 12]]])
            
 Note: use the same array from Q6.

In [99]:
four_d[1]

array([[[ 1,  2,  3],
        [ 4,  5,  6]],

       [[ 7,  8,  9],
        [10, 11, 12]]])

In [102]:
# write your code here ^_^
four_d=np.delete(four_d,four_d[1])

In [105]:
four_d=four_d.reshape(2,3,2)

In [106]:
four_d

array([[[ 1,  2],
        [ 3,  4],
        [ 5,  6]],

       [[ 7,  8],
        [ 9, 10],
        [11, 12]]])

# Q12: Join the given arrays below 
    arr1 = np.array([['A', 'B'], ['E', 'F']])
    arr2 = np.array([['C', 'D'], ['G', 'H']])
## Q12.1: Join the arrays without specifying the axis

In [133]:
# write your code here ^_^
arr1 = np.array([['A', 'B'], ['E', 'F']])
arr2 = np.array([['C', 'D'], ['G', 'H']])

In [134]:
arr3 = np.concatenate((arr1,arr2))
print(arr3)

[['A' 'B']
 ['E' 'F']
 ['C' 'D']
 ['G' 'H']]

# Q12.2: Join the arrays along rows with axis = 1

In [136]:
# write your code here ^_^
arr3_ax1 = np.concatenate((arr1,arr2),axis=1)
print(arr3_ax1)

[['A' 'B' 'C' 'D']
 ['E' 'F' 'G' 'H']]

# Q13: Split the array into two arrays with axis = 1, each array should contain four arrays. 
Note: use the same array from Q12.1

In [127]:
arr3

array([['A', 'B'],
       ['E', 'F'],
       ['C', 'D'],
       ['G', 'H']], dtype='<U1')

In [128]:
# write your code here ^_^
[part1,part2]=np.split(arr3,[1],axis=1)

In [131]:
print(part1)

[['A']
 ['E']
 ['C']
 ['G']]

In [132]:
print(part2)

[['B']
 ['F']
 ['D']
 ['H']]